<h1>
  Teste de Inteligência Emocional - Daniel Goleman
</h1>

<app-nome
  (salvarNome)="salvarNome($event)"
></app-nome>

<br>

<h2>
  Você já ouviu falar de Inteligência Emocional?
</h2>

<p>
  Trata-se da capacidade que um indivíduo tem para administrar suas próprias
  emoções e também da capacidade de compreender as emoções alheias.
  Dessa forma é possível que uma pessoa que tenha uma inteligência
  emocional equilibrada consiga estabelecer relações saudáveis e conscientes.
</p>

<p>
  <a href="https://pt.wikipedia.org/wiki/Daniel_Goleman" target="_blank">
    Daniel Goleman
  </a>
  é um renomado psicólogo, jornalista e autor do best-seller
  <a href="https://www.amazon.com.br/dp/B00A3D0DZG/ref=dp-kindle-redirect?_encoding=UTF8" target="_blank">
    Inteligência Emocional.
  </a>
</p>
<p>
  Ele criou o teste que está disponível neste site, onde através dele é possível
  definir, com base en uma série de perguntas e respostas, qual é o equilíbrio
  que um apessoa tem entre as diferentes áreas da Inteligência Emocional, que são elas:
</p>
<ul>
  <li>Autoconhecimento</li>
  <li>Autocontrole</li>
  <li>Motivação</li>
  <li>Empatia</li>
  <li>Habilidades sociais</li>
</ul>
<p>
  Quer saber qual é o resultado da sua Inteligência Emocional?
  Preencha seu nome e comece agora o teste, só leva uns minutinhos.
</p>
