<mat-card>
  <mat-card-header>
    <mat-card-title>
      <span>
        <button mat-icon-button type="button" *ngIf="perguntaAtual > 1"
          (click)="voltar()">
          <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
        Questionário - {{perguntaAtual}} / {{perguntas.length}}
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-divider></mat-divider>

  <mat-card-content>

    <div class="perguntas-lista">
      <div class="perguntas-container" *ngFor="let pergunta of perguntas"
        [hidden]="pergunta.id != perguntaAtual">
        <p class="pergunta">
          {{pergunta.pergunta}}
        </p>
        <mat-radio-group>
          <mat-radio-button *ngFor="let resposta of respostas; let i = index"
            (change)="responder($event, pergunta)"
            [value]="pergunta.respostas[i]">
            {{resposta}}
          </mat-radio-button>
        </mat-radio-group>
      </div>
    </div>

  </mat-card-content>

  <mat-divider></mat-divider>

  <mat-card-actions class="text-right">
    <button mat-raised-button color="primary" type="button"
      [hidden]="perguntaAtual == perguntas.length"
      [disabled]="!resultado[perguntaAtual]"
      (click)="continuar()">
      CONTINUAR
    </button>
    <button mat-raised-button color="primary" type="button"
      [hidden]="perguntaAtual != perguntas.length"
      (click)="concluir()">
      FINALIZAR
    </button>
  </mat-card-actions>
</mat-card>
