/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card-content {
  margin-top: 15px;
}
mat-card-actions {
  margin: 30px 0 0 0 !important;
}
mat-card-title button {
  margin-left: -25px !important;
}

mat-radio-button {
  margin-right: 20px;
}

.full-text-input {
  width: 100%;
}
