/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #f3f3f3;
}
mat-card-content {
  margin-top: 15px;
}
mat-card-actions {
  margin: 30px 0 0 0 !important;
}
mat-card-title button {
  margin-left: -25px !important;
}
mat-radio-button {
  margin-right: 20px;
}
mat-toolbar a, mat-toolbar a:hover {
  color: #fff;
  text-decoration: none;
}

.full-text-input {
  width: 100%;
}
